@media (max-width: 991px) {    .main-carousel .carousel-item img.d-block{        width: 100%;    }    .container-carousel{        max-width: 100%;    }}.main-carousel img.d-block{    height: 400px;}.container-carousel{    padding: 0;}