{% extends 'Admin/admin.html.twig' %}

{% block content %}
    <h1>Pfdthityyst buhs</h1>
    <div class="list-content-admin">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        <div class="panel panel-default">
            <table class="table list-games">
                <tr>
                    <th>#</th>
                    <th>Дома</th>
                    <th>Голы</th>
                    <th>В гостях</th>
                    <th>Тур матча</th>
                    <th>Поля</th>
                    <th>Время игры</th>
                    <th>Статус</th>
                </tr>
                {% for count, match in matches %}
                    <tr>
                        <td>{{ count + 1 }}</td>
                        <td>{{ match.homeCommand.name }}</td>
                        <td>{{ match.homeCommandGoal }} - {{ match.guestCommandGoal }}</td>
                        <td>{{ match.guestCommand.name }}</td>
                        <td>{{ match.tour }}</td>
                        <td>{{ match.playField }}</td>
                        <td>{{ match.dateMath|date('d.m.Y | h:i') }}</td>
                        <td>
                            <a href="{{ path('admin_game_finish', {'id' : match.id }) }}"><i class="fa fa-pencil-square edit" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}