{% extends 'Admin/admin.html.twig' %}
{% block content %}
    <h1>Завершить матч</h1>
    <div class="add-division-form">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_row(form.homeCommand, { 'attr': {'class': 'disabled'}}) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(form.homeCommandGoal, {'required': true}) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(form.guestCommandGoal, {'required': true}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.guestCommand, { 'attr': {'class': 'disabled'}}) }}
            </div>
        </div>
        {{ form_row(form.status, {'label' : 'Завершить', 'required': true}) }}
        {{ form_row(form.save) }}
        <div class="none">
            {{ form_row(form.tour) }}
            {{ form_row(form.playField) }}
            {{ form_row(form.date_math) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}

