{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/fontawesome/all.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/fontawesome/v4-shims.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index-page.css') }}">
    <script src="{{ asset('libs/bootstrap/jquery-slim.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap/popper.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('libs/fontawesome/all.js') }}"></script>
{% endblock %}
{% block body %}
    {% block navbar %}
        <div class="container-fluid nav-container">
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="{{ asset('images/logo/logo1.png') }}" width="100" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Игры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Правила</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            <span>Войти <i class="fas fa-sign-in-alt"></i></span>
                            <span>Регистрация <i class="fas fa-user-plus"></i></span>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}